include MANIFEST.in
include README.md
include setup.py
include LICENSE
include Examples/*
include labphew/View/GUI/Icons/*
include labphew/View/GUI//UI/*
include docs/
include extras/
exclude labphew/View/attic/
